body
  margin 0
  background-color #0c806c
  color #fff
  overflow hidden
#app
  // font-family 'Avenir', Helvetica, Arial, sans-serif
  font-family 'Yuanti SC', 'YouYuan'
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
.button
  width 150px
  height 44px
  line-height 40px
  text-align center
  background-size cover
  background-image url(./assets/button.png)