body
  margin 0
  background-color #0c806c
  color #fff
  overflow hidden
#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
.info-layer
  position relative
  z-index 10000
.button
  width 150px
  height 44px
  line-height 44px
  text-align center
  background-size cover
  background-image url(./assets/button.png)